summary {
    font-weight: bold;
    padding: .1em .1em ;
    list-style-position: outside;
}

.leaf {
    margin-bottom: 2em;
}

.leaf > summary {
    list-style-position: inside;
    border-bottom: solid 0.1px;
}

.leaf-title {
    margin-bottom: 2em;
}

// details[open] {
//     padding: .5em;
// }

// details[open] summary {
//     border-bottom: 1px solid #aaa;
//     margin-bottom: .5em;
// }

// .s-title {
//     text-decoration: none;
//     border: 1px solid #aaa;
//     cursor: pointer;
// }
